@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Nunito:ital,wght@0,400;0,600;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Nunito', sans-serif;
}

body {
    position: relative;
    transition: background .5s;
    transition: color .3s;
}

button {
    transition: background .5s;
    cursor: pointer;
}

canvas {
    display: block;
    margin: 5px auto;
}

* {
    margin: 0;
    padding: 0;
}

.start {
    padding: 5px;
    padding: 10px 15px;
    margin: 4px auto;
    border: none;
    background: red;
    display: block;
    color: white;
}

canvas {
    display: block;
    margin: 5px auto;
    border: 1px solid white;
    border-radius: 4px;
}

h1 {
    text-align: center;
}

.controls {
    background: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
    width: 70%;
}

.controls button {
    padding: 5px;
    padding: 15px;
    min-width: 130px;
    border: none;
    background: white;
    border-radius: 7px;
    color: red;
}

.game-area {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.score-area {
    min-width: 30%;
}

.instructions {
    min-width: 100vw;
    min-height: 109vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 105);
    z-index: 1;
}

.instructions::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, rgb(255, 0, 170), rgb(255, 0, 0));
    clip-path: circle(40% at 0% 0%);
}

.instructions::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(55deg, rgb(0, 195, 255), rgb(0, 255, 13));
    clip-path: circle(40% at 100% 100%);
}

.instruction-card {
    color: white;
    min-width: 300px;
    backdrop-filter: blur(8px);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    z-index: 1;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.instruction-card button {
    display: block;
    padding: 10px 20px;
    border: none;
    margin: 20px auto;
    color: white;
    border-radius: 10px;
    background-color: rgb(255, 0, 85);
}

.mobile {
    display: none;
}

.instruction-card p {
    line-height: 60px;
}

.footer {
    margin-top: 20px;
}

.footer h1 {
    font-size: 20px;
}

.footer i {
    color: red;
}

@media screen and (max-width:700px) {
    canvas {
        width: 350px;
        display: block;
        margin: 5px auto;
    }
    .controls {
        background: black;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        width: 70%;
        margin: auto;
    }
    .instructions {
        min-height: 115vh;
    }
    .instruction-card {
        color: white;
        max-width: 300px;
        backdrop-filter: blur(8px);
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-radius: 10px;
        padding: 20px;
        margin: auto;
        z-index: 100;
    }
}

.lives {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lives i {
    color: red;
    margin: 0px 5px;
}

.new-high-score {
    display: none;
}

.top-nav {
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.top-nav i {
    font-size: 25px;
    cursor: pointer;
}

.top-nav #volume {
    margin-right: 20px;
}


/* for loadeer */

.main {
    min-width: 100vw;
    height: 115vh;
    background-color: black;
    position: absolute;
    z-index: 200;
    display: none;
}

.container {
    transform: translateY(30vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: color 4s linear infinite;
}

.loader {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: linear-gradient(to top, rgb(8, 8, 54), aqua);
    position: relative;
    animation: rotate 2s linear infinite;
    box-shadow: 5px 5px 5px aqua;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes color {
    to {
        filter: hue-rotate(360deg);
    }
}

.loader::before {
    content: "";
    width: 130px;
    height: 140px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    right: -1px;
    top: 5px;
}

.loader::after {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
    right: 27px;
    top: -10px;
    box-shadow: 15px 15px 50px aqua, -15px -15px 50px aqua, 15px -15px 50px aqua;
}

.load-text {
    color: aqua;
    margin: 30px auto;
}

@keyframes dot1 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dot1 {
    animation: dot1 infinite linear 1s;
}

.dot2 {
    animation: dot2 infinite linear 1s;
}

.dot3 {
    animation: dot3 infinite linear 1s;
}


/*animated nav bar made by my self*/

.logo {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;
    overflow-x: hidden;
    cursor: pointer;
}

.logo .d1,
.d2,
.d3 {
    width: 3px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
    position: absolute;
    transition: all 1s;
}

.d1 {
    transform: rotate(-20deg);
    left: 8px;
    top: 20px;
    transition: all 1s;
}

.d2 {
    transform: rotate(20deg);
    left: 14px;
    top: 20px;
    transition: all 1s;
}

.d3 {
    height: 24px;
    transform: rotate(90deg);
    left: 30px;
    top: 2px;
    transition: all 1s;
}

.d4 {
    width: 3px;
    height: 26px;
    border-radius: 20px;
    background-color: red;
    position: absolute;
    top: 13.5px;
    left: 30px;
}

.logo:hover .d1 {
    animation: bar1 linear .7s;
    animation-fill-mode: both;
    transition: all 1s;
}

.logo:hover .d2 {
    animation: bar2 linear .7s;
    animation-fill-mode: both;
    transition: all 1s;
}

.logo:hover .d3 {
    transition: all 1s;
    animation: bar3 linear 1s both;
}

.logo:hover .d4 {
    transition: all 1s;
    animation: bar4 linear .6s both;
}

@keyframes bar1 {
    0% {
        transform: rotate(-20deg);
        left: 8px;
        top: 20px;
    }
    100% {
        transform: rotate(90deg);
        left: 20px;
        top: 26.3312px;
        animation-direction: reverse;
    }
}

@keyframes bar2 {
    0% {
        transform: rotate(20deg);
        left: 14px;
        top: 20px;
    }
    100% {
        transform: rotate(-90deg);
        left: 29.5px;
        top: 26.0px;
    }
}

@keyframes bar3 {
    0% {
        height: 24px;
        transform: rotate(90deg);
        left: 30px;
        top: 2px;
    }
    40% {
        height: 6px;
        transform: rotate(90deg);
        left: -40px;
        top: 15px;
    }
    60% {
        top: -15px;
        left: 25px;
        height: 6px;
        border-radius: 50%;
    }
    90% {
        top: 20px;
        height: 4.5px;
        border-radius: 50%;
    }
    100% {
        height: 29px;
        transform: rotate(90deg);
        left: 25px;
        top: 0px;
    }
}

@keyframes bar4 {
    0% {
        width: 3px;
        height: 26px;
        border-radius: 20px;
        background-color: red;
        position: absolute;
        top: 13.5px;
        left: 1.5;
    }
    100% {
        width: 3px;
        height: 29px;
        border-radius: 20px;
        position: absolute;
        top: 10.9px;
        transform: rotate(450deg);
        left: 25px;
    }
}


/* menu */

.menu-curten a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all .2s ease-in;
}

.menu-curten {
    top: 50px;
    width: 0vw;
    height: 100vh;
    background-image: url("bgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .4s;
    color: white;
}

.game-mode {
    cursor: pointer;
    margin: 5px;
}

.menu-curten ul {
    padding: 20px 40px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    height: 40%;
    min-width: 250px;
    width: 60%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5), 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.menu-curten li {
    list-style: none;
    font-size: 23px;
}

.menu-curten a:hover {
    color: red;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
}